
.bg1{
  font-family: Montserrat;
font-weight: 700;
font-style: italic;
font-size: 120px;
line-height: 100%;
letter-spacing: 0%;
color: #FE9A4C
}
.box {
 
  width: 90%;
  display: flex;
  gap: 30px;
  margin: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.box {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    
}

.box::-webkit-scrollbar {
    display: none; 
}